* {
    padding: 0;
    margin: 0;
    border: none;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol {
    list-style: none;
}

.main_slide {
    height: 100vh;
    background-image: url(../img/main_slide.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}