@charset "UTF-8";

@font-face {
  font-family: "amepets";
  src:url("fonts/amepets.eot");
  src:url("fonts/amepets.eot?#iefix") format("embedded-opentype"),
    url("fonts/amepets.woff") format("woff"),
    url("fonts/amepets.ttf") format("truetype"),
    url("fonts/amepets.svg#amepets") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "amepets" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "amepets" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\61";
}
.icon-instagram:before {
  content: "\62";
}
.icon-youtube:before {
  content: "\63";
}
