* {
    padding: 0;
    margin: 0;
    border: none;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    font-family: 'Ubuntu';
}
a{
    text-decoration: none;
}
ul,ol {
    list-style: none;
}

.btn {
    margin: 60px auto;
    padding: 22px 40px 20px 40px;
    text-transform: uppercase;
    font-size: 1.3125rem;
    font-weight: 500;
    color: #fff;
    background-color: #78c201;
    border: solid 1px #67A107;
    transition: 500ms;
}

.radius {
    border-radius: 6px;
}

.btn:hover{
    transition: 500ms;
}

.main_header {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9EFF00;
    position: fixed;
}

.main_header nav ul li{
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    margin: 60px;
}

.main_header nav a {
    color: #fff;
    padding: 10px;
}

.main_slide {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: calc(100vh + 2rem);
    padding-top: 4rem;
    background-image: url(../img/main_slide.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    text-align: center;
    color: #fbfbfb;
}

.main_slide h1 {
    font-size: 1.875rem;
    text-transform: uppercase;
    margin-top: 50px;
}

.main_slide p{
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 14px;
}

.main_slide a {
    font-size: 1.342rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 15px;
    padding: 19px 74px 14px 74px;
    color: #fff;
    background-color: #9EFF00;
    border: solid 1px #67A107;
    border-radius: 5px;
}
.main_slide a:hover {
    transition: 500ms;
    background-color: #78c201;
}

.main_about {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main_about header {
    margin: 5rem 0;
}

.main_about header h1 {
    font-size: 1.5625rem;
    color: #222;
}
.main_about header p {
    color: #333;
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: 7px;
}

.main_about_items {
    width: 90vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.main_about_items article {
    width: 20rem;
}

.main_about_items article h1 {
    font-size: 1.4375rem;
    color: #333333;
}

.main_about_items article p {
    font-size: 1rem;
    color: #444444;
    margin: 5px 0;
}

.main_about_items article img {
    max-width: 35%;
    margin-bottom: 20px;
}

.main_about a:hover {
    background-color: #67A107;
}

.secondary_slide {
    height: 70vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    background-image: url('../img/banner.png');
    background-size: cover;
}

.secondary_slide h1 {
    color: #fff;
    margin: 10%;
    font-size: 2.1875rem;
}

.main_striking_stories {
    width: 90vw;
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    background-color: #EEF1F3;
}

.main_striking_stories a {
    margin: 10px auto;
}

.main_striking_stories header {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 30px;
    color: #333;
}

.main_striking_stories div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.main_striking_stories div article {
    flex-basis: 30%;
    text-align: center;
}

.main_striking_stories div article img {
    width: 260px;
    height: 200px;
    margin: 0 auto;
}

.main_striking_stories div article h1 {
    text-transform: uppercase;
    margin: 20px 0 5px 0;
    font-size: 1.37rem;
    color: #222;
}

.main_striking_stories div article p {
    color: #333;
    margin-bottom: 10px;
}

.main_striking_stories div article a {
    color: #8E8D8D;
}

.main_striking_stories div article a:hover {
    color: #555;
    transition: 500ms;
}