* {
    padding: 0;
    margin: 0;
    border: none;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    font-family: 'Ubuntu';
}
a{
    text-decoration: none;
}
ul,ol {
    list-style: none;
}

.btn {
    margin: 60px auto;
    padding: 22px 40px 20px 40px;
    text-transform: uppercase;
    font-size: 1.3125rem;
    font-weight: 500;
    text-align: center;
    color: #fff;
    background-color: #78c201;
    border: solid 1px #67A107;
    transition: 500ms;
}

.btn:hover {
    background-color: #67A107;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

.radius {
    border-radius: 6px;
}

.btn:hover{
    transition: 500ms;
}

.main_header {
    max-width: 100vw;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #9EFF00;
    position: fixed;
}

.main_header nav ul li{
    text-transform: uppercase;
    font-weight: bold;
    display: inline;
    margin: 60px;
}

.main_header nav a {
    color: #fff;
    padding: 10px;
}

.main_slide {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: calc(95vh);
    padding-top: 4rem;
    background-image: url(../img/main_slide.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    text-align: center;
    color: #fbfbfb;
}

.main_slide h1 {
    font-size: 1.875rem;
    text-shadow: 1px 2px 5px rgba(0,0,0,0.9);
    text-transform: uppercase;
    margin-top: 50px;
}

.main_slide  p{
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 14px;
    margin-bottom: 30px;
}

.main_slide a {
    display: inline-block;
    font-size: 1.342rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 15px;
    padding: 19px 74px 14px 74px;
    color: #fff;
    background-color: #9EFF00;
    border: solid 1px #67A107;
    border-radius: 5px;
}
.main_slide  a:hover {
    transition: 500ms;
    background-color: #78c201;
}

.main_about {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.main_about header {
    margin: 5rem 0 3rem 0;
}

.main_about header h1 {
    font-size: 1.7rem;
    color: #222;
}
.main_about header p {
    color: #333;
    font-size: 1rem;
    margin-top: 15px;
}

.main_about_items {
    width: 90vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.main_about_items article {
    width: calc(20rem - 40px);
    margin: 20px;
}

.main_about_items article h1 {
    font-size: 1.4375rem;
    color: #333333;
}

.main_about_items article p {
    font-size: 1rem;
    color: #444444;
    margin: 5px 0;
}

.main_about_items article img {
    max-width: 35%;
    margin-bottom: 20px;
}

.main_about .btn {
    margin-top: 25px;
}

.secondary_slide {
    height: 70vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    background-image: url('../img/banner.png');
    background-size: cover;
}

.secondary_slide h1 {
    color: #fff;
    margin: 10%;
    font-size: 2.1875rem;
}

.main_striking_stories {
    width: 90vw;
    display: flex;
    flex-flow: column wrap;
    margin: 10px auto;
}

.main_striking_stories a {
    margin: 10px auto;
}

.main_striking_stories header h1 {
    text-align: center;
    font-size: 1.7em;
    margin-top: 90px;
    margin-bottom: 30px;
    color: #333;
}

.main_striking_stories div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

}

.main_striking_stories div article {
    flex-basis: 30%;
    text-align: center;
}

.main_striking_stories div article img {
    width: 260px;
    height: 200px;
    margin: 0 auto;
}

.main_striking_stories div article h1 {
    text-transform: uppercase;
    margin: 20px 0 5px 0;
    font-size: 1.37rem;
    color: #222;
}

.main_striking_stories div article p {
    color: #444;
    margin-bottom: 20px;
}

.main_striking_stories div article a {
    color: #8E8D8D;
}

.main_striking_stories div article a:hover {
    color: #555;
    transition: 500ms;
}

.main_donation {
    display: flex;
    flex-flow: column nowrap;
}

.main_donation header {
    text-align: center;
    margin-top: 75px;
}
.main_donation header h1 {
    color: #222;
    font-size: 1.7em;

}

.main_donation header p {
    color: #333;
    margin-top: 10px;
}

.main_donation_items{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.main_donation_items div {
    flex-basis: 16rem;
    display: flex;
    flex-flow: column nowrap;
    margin: 1.6rem;
    text-align: center;
}

.main_donation .btn {
    width: 100%;
    font-size: 1rem;
    padding: 22px 0px 20px 0px;
    margin: 1rem 0 2rem 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    background-color: #34E7E4;
    border: none;
}

.main_donation .btn:hover {
    background-color: #0BC2BF;
}

.main_donation .main_donation_contact {
    height: 31.5vh;
    background-color: #34E7E4;
    text-align: center;
}

.main_donation .main_donation_contact p {
    text-align: center;
    margin: 2rem auto;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.main_donation .main_donation_contact .btn {
    font-size: 1.1rem;
    background-color: #0BC2BF;
    padding: 22px 100px 20px 100px;
}

.main_donation .main_donation_contact .btn:hover{
    background-color: #0bb3b0;
}

.main_location {

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    margin-top: 60px;
}
.main_location header h1 {
    margin: 10px auto;
    color: #222;
    text-align: center;
    font-size: 1.7rem;
}
.main_location header p {
    text-align: center;
}

.main_location_content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5vh auto;
}

.main_location_content  img {
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
    margin: 0 50px;
}

.main_location_content div p {
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 50px;
    color: #222;
    margin: 0 50px;
}

.main_footer{
    max-width: 100%;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: #333;
    text-align: center;
    color: #fff;
}

.footer_terms {
    width: 25%;
}

.footer_copy {
    width: 25%;
}

.footer_terms a{
    color: #fff;
    margin: 0 20px;
}

.footer_social {
    width: 25%;
}

.footer_social a{
    font-size: 2rem;
    text-decoration: underline;
    margin: 10px;
    transition: 500ms;
    color: #fff;
}


.footer_social a:hover {
    color: #9EFF00;
    transition: 500ms;
}

@media (max-width: 25.76rem) {

    .main_header nav a {
        margin: 10px;
    }
    .main_slide h1{
        font-size: 1.4rem;
    }
    .main_slide p {
        font-size: 0.875rem;
        margin: 10px 20px;
    }

    .main_slide a {
        padding: 15px 40px;
    }

    .main_about_items article {
        margin: 20px auto;
    }

    .secondary_slide h1 {
        font-size: 1.8rem;

    }

    .main_striking_stories div article {
        margin: 20px auto;
    }

    .main_donation .main_donation_contact {
        height: 50vh;
    padding: 10px;
    }
   .main_donation .main_donation_contact p {
        font-size: 1.25rem;
       color: #111;
    }

   .main_donation .main_donation_contact .btn {
       font-size: 1rem;
       padding: 20px 60px;
   }

    .main_location header h1 {
        font-size: 1.4rem;
        margin-top: 30px;
    }

    .main_location_content img{
        width: 17rem;
        margin: 5px auto;
    }

    .main_location_content div p {
        font-size: 1rem;
        line-height: 2;
    }


    .footer_terms {
        width: 100%;
        margin: 5px 0;
    }

    .footer_copy {
        width: 100%;
        margin: 15px 0;
    }
    .footer_social {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 5px 0;
    }
}